@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

            /*** Header ***/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 5px 20px;
    z-index: 10;
}

.ul__menu{
    display: flex;
    gap: 100px;
    padding-right: 100px;
    color: var(--font-color-1);
}
.ul__menu li{
    list-style: none;
    font-family: "Montserrat-SemiBold";
}
.ul__menu li a{
    color: var(--font-color-1);
    text-decoration: none;
    transition: opasity 0.3s ease;
}

.ul__menu li a:hover{
    opacity: 0.8;
}

            /*** Main ***/

.section__home{
    background-image: linear-gradient(var(--color-gradient-1), var(--color-gradient-2) 100%), var(--banner-1);
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height: 135svh;
}

.article__home{
    width: 626px;
    height: 360px;
    position: relative;
    left: 21svw;
    top: 36svh;
    flex-direction: column;
    gap: 5px;
    color: var(--font-color-1);
}
.article__home span{
    font-style: 28px;
    font-family: "Montserrat-SemiBold";
}
.article__home h1{
    font-size: 75px;
    font-family: "Montserrat-SemiBold";
}
.article__home p{
    width: 340px;
    font-family: "Montserrat-Medium";
}

            /*** Menu ***/

.section__ellipses{
    background-color: #071917;
    display: flex;
    justify-content: space-between;
}

            /*** Mobile version ***/

            /*** To 960px ***/

@media (max-width: 960px){

            /*** Mobile Header ***/

    .header{
        padding: 15px;
    }

    .ul__menu{
        gap: 15px;
        padding-right: 15px;
    }

            /*** Mobile Main ***/

    .section__home{
        display: flex;
        justify-content: space-around
    }

    .article__home{
        left: 0;
    }
    .article__home h1{
        font-size: 70px;
    }

            /*** Mobile Menu ***/

    .section__ellipses{
        justify-content: space-around;
    }
    .section__ellipses img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
}

            /*** For 576px ***/

@media (max-width: 576px) {

            /*** Mobile Header ***/

    .header{
        justify-content: normal;
    }

    .div__logo{
        flex: 1;
    }

    .div__menu{
        width: 100%;
    }

    .ul__menu{
        display: flex;
        justify-content: center;
        padding-right: 0;
    }

            /*** Mobile Main ***/

    .section__home{
        display: flex;
        justify-content: normal;
        padding-left: 15px;
        padding-right: 15px;
        height: 95svh;
    }

    .article__home{
        top: 25svh;
    }
    .article__home h1{
        font-size: 60px;
    }
}

            /*** Work ***/

.section__work{
    background-color: var(--color-gradient-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vw;
    /* padding: 15px; */
}
.div__container{
    /* background-color: red; */
    position: relative;
    width: 97vw;
    padding-bottom: 2vw;
    /* padding: 15px; */
}
.div__container img{
    /* background-color: blue; */
    width: 100%;
    height: auto;
    /* padding: 15px; */
}
.div__container p{
    /* background-color: whitesmoke; */
    position: absolute;
    bottom: 7vw;
    left: 3vw;
    font-family: "Montserrat-SemiBold";
    color: var(--font-color-1);
    font-size: 5vw;
    /* padding: 15px; */
}

            /*** Carousel ***/

.section__carousel{
    background-color: red;
    padding: 15px;
}

.div__box{
    background-color: blue;
    padding: 15px;
}
.div__box img{
    background-color: antiquewhite;
    padding: 15px;
}
.div__box h1{
    background-color: blueviolet;
    padding: 15px;
}
.div__box p{
    background-color: yellowgreen;
    padding: 15px;
}